apiVersion: apps/v1
kind: StatefulSet
metadata:
    name: mysql
spec:
    serviceName: mysql
    replicas: 2
    selector:
      matchLabels:
        app: mysql
    template:
      metadata:
        labels:
          app: mysql
      spec:
        containers:
          - name: mysql
            image: mysql
            imagePullPolicy: IfNotPresent
            resources:
              requests:
                cpu: "200m"
                memory: "256Mi"
              limits:
                cpu: "500m"
                memory: "512Mi"
            env:
              - name: MYSQL_ROOT_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: mysql-secret
                    key: MYSQL_PASSWORD
              - name: MYSQL_DATABASE
                value: "part_inventory_db"
            ports:
              - containerPort: 3306
            volumeMounts:
              - mountPath: /var/lib/mysql
                name: mysql-data
    volumeClaimTemplates:
      - metadata:
          name: mysql-data
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 10Gi