apiVersion: v1
kind: Service
metadata:
  name: product-service
spec:
    selector:
        app: product-app
    ports:
        - port: 80
          targetPort: 8080
          nodePort: 30080
    type: NodePort